<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>게시판 목록이 돼겠죠?(또는 홈피 메인)</h1>
    <a href="/create">회원가입하러가기</a>
  </body>
</html>
